{{#each this}}
<li class="cart-dish__item">
  <span class="cart-dish__list-item">{{name}}</span>
  <div class="cart-dish__item-block">
    <span class="cart-dish__list-item">{{quantity}}</span>
    <span class="cart-dish__list-item">{{price}}</span>
    <button class="remove" data-id="{{id}}">Remove</button>
  </div>

</li>
{{/each}}